# Ignore compiled class files
*.class

# Ignore logs
*.log

# Ignore build directories
/bin/
/build/

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Eclipse project files
.project
.classpath
.settings/
